#include "windows.h"
#include "Resource.h"

IDD_DLG_ABOUT DIALOGEX 10,10,252,153
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
EXSTYLE WS_EX_STATICEDGE|WS_EX_DLGMODALFRAME
BEGIN
END

