name: CI_build

on: [push, pull_request]

jobs:
  build:

    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - build_configuration: RelWithDebInfo
            build_platform: x64
            build_platform_vcpkg: x64
          - build_configuration: RelWithDebInfo
            build_platform: Win32
            build_platform_vcpkg: x86
          - build_configuration: RelWithDebInfo
            build_platform: arm64
            build_platform_vcpkg: arm64

    steps:
    - name: Checkout repo
      uses: actions/checkout@v5

    - name: Restore vcpkg packages
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: vcpkg integrate install

    - name: generate cmake
      run: |
           mkdir _build
           cd _build
           cmake -G "Visual Studio 17 2022" -A ${{ matrix.build_platform }} -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=${{ matrix.build_platform_vcpkg }}-windows-static ..

    - name: build cmake
      run: |
           cd _build
           cmake --build . --config ${{ matrix.build_configuration }}

    - name: Archive artifacts for ${{ matrix.build_platform }}
      if: matrix.build_configuration == 'RelWithDebInfo'
      uses: actions/upload-artifact@v4
      with:
          name: plugin_dll_${{ matrix.build_platform }}
          path: bin\${{ matrix.build_configuration }}\NppBplistPlugin.dll
